@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap')


.navbar .navbar-menu
  box-shadow:none !important

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: 0
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social a
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0


@import "~bulma"


* 
  font-family: 'Roboto Condensed', sans-serif!important

html,
body
  color: white
  background-color: #0a0d0f
  letter-spacing: 0.15vw
section
  background-color: #0a0d0f
.navbar
  height: 3vw
  padding-top: 2.5vw
  padding-bottom: 2.15vw
  background-color: transparent
  .container
    max-width: 87.5vw!important
  button,
  .navbar-item
    background-color: transparent
    border: unset
    color: white
    font-size: 1.1vw
    font-weight: 400
    letter-spacing: 2.5px
    text-transform: uppercase
    cursor: pointer
    -webkit-transition: all .35s ease
    transition: all .35s ease
    opacity: .6
    &:hover
      opacity: 1
    &:focus
      opacity: 1
  .navbar-end .navbar-item
    margin-right: 4vw
  .navbar-end .navbar-item:last-of-type
    margin-right: 0
.title
  font-size: 8.3vw
  font-weight: bold
  color: white
  letter-spacing: .37vw
  text-transform: uppercase
  position: relative
  z-index: 2
.title-stroke
  font-size: 7.62vw
  color: transparent
  -webkit-text-stroke: 2px white
  top: -6.3vw
  margin-bottom: -12.9vw
  z-index: 1
.hero,
.contact,
footer .content
  padding-left: 12%
  padding-right: 12%
  margin-bottom: unset!important

.hero
  margin-top: 5vw
  h1
    margin-bottom: 0
.hero-swiper
  position: relative
  z-index: 0
  .swiper-container
    padding-top: 2rem
  .swiper-pagination
    width: 1rem!important
    left: 1rem!important
    top: 0
    span
      padding: 3.5px
      background: transparent
      border: 1px solid white
      opacity: 1
    
#home
  overflow: hidden
  margin-bottom: 12vw

#stories
  .title
    font-size: 8vw
    margin-bottom: -3rem
    z-index: 1
  a 
    color: white
  
.story-title
  text-transform: uppercase
  letter-spacing: 5px
  width: 88%
  h4
    font-weight: bold
    font-size: 1.2rem
  p
    font-size: 1rem
      
#biography
  padding: 25vw 30vw
  blockquote
    font-size: 1.8vw
    padding-left: 4vw
    &:before
      background: url(../img/quote-mark.svg) center no-repeat
      background-size: contain
      content: ''
      display: block
      height: 6.71vw
      width: 6.71vw
      position: absolute
      margin-left: -7.4vw
      margin-top: -6.75vw
  p
    font-size: .9rem
    text-transform: uppercase
    text-align: right
    margin-right: 1.1vw
    margin-top: 3vw
  small
    float: right
    letter-spacing: 1px
    margin-right: 1.1vw
    margin-top: -3px
    opacity: .3

.contact
  width: 63vw
  padding-bottom: 12vw
  overflow: hidden
  .title
    font-size: 8vw
    line-height: 102%
    margin-bottom: 13.5vw
    div
      letter-spacing: 4px
  .subtitle
    font-size: 3.3vw
    line-height: 124%
    color: white
    padding-right: 4vw
    margin-bottom: 5vw
  .label 
    color: white
    text-transform: uppercase
    font-weight: 400
    font-size: .8rem
  .input,
  .textarea
    font-size: 1.3rem
    font-weight: 400
    color: rgba(255,255,255,.63)
    background: transparent
    border: unset
    border-bottom: 1px solid white
    border-radius: 0
    margin-bottom: 4vw
    padding-left: 0
    padding-right: 0
    -webkit-transition: all .15s ease
    transition: all .15s ease
    &:focus
      color: white
      border-bottom-width: 2px
      box-shadow: none
    &::placeholder
      font-weight: 400
      color: rgba(255,255,255,.63)
  .button
    font-size: .9rem
    text-transform: uppercase
    letter-spacing: 4px
    border: 1px solid white
    border-radius: 0
    background: transparent
    margin-top: -1.8vw
    padding: 1.1vw 2.65vw
    height: unset
    box-shadow: none

footer
  display: flex
  flext-direction: row
  align-items: center
  justify-content: space-between
  margin-bottom: 7.5vw
  font-size: 1.1vw
  letter-spacing: 4.5px
  text-transform: uppercase
  span
    margin-right: 2vw
    opacity: .5
  a
    opacity: .5
    color: white!important
    -webkit-transition: all .35s ease
    transition: all .35s ease
    &:hover
      opacity: 1

.swiper-button-next:after,
.swiper-button-prev:after
	display: none
.swiper-button-next,
.swiper-button-prev 
.swiper-button-prev:before 
	content: 'PREV'
.swiper-button-next:before 
  content: 'NEXT'

.swiper-button-prev:before,
.swiper-button-next:before 
	font-size: 1rem
	color: white!important
	letter-spacing: 5px
    color: white
    display: inline-block
    position: relative
	opacity: .35
	transition: all .35s ease
  
.swiper-button-prev:hover:before,
.swiper-button-next:hover:before 
	opacity: 1


// responsiveness
+tablet-only
  

+mobile
  .title
    font-size: 12.2vw
  .title-stroke
    font-size: 11.1vw
    -webkit-text-stroke-width: 1px
  #biography
    padding-left: 20vw
    padding-right: 20vw
    blockquote
      font-size: 1.4rem
      &:before
        width: 12vw
        height: 12vw
        left: -12vw
        top: -8vw
  .contact form
    width: 74vw