#home .swiper-slide {
	height: 100vh;
	display: grid;
}

#home .swiper-pagination-bullet-active {
	background: white !important;
}

#stories .title {
	left: 52.5vw;
	transform: translateY(21vw);
}

#stories .swiper-slide {
	transition: all 800ms ease;
	opacity: 0.2;
}

#stories .swiper-slide-active {
	transition: all 1200ms ease;
	padding: 0;
	opacity: 1;
}

#stories .swiper-slide-prev {
	transform: translateX(-60%);
}

#stories .swiper-slide-next {
	transform: translateX(30%);
}

.story-title {
	letter-spacing: 3px;
	margin-top: 1.5rem;
	margin-left: 4.25vw;
}

#stories .swiper-slide-active .story-title {
	animation: title-delay 2.2s ease;
}

#stories .swiper-slide-active .story-title p {
	animation: subtitle-delay 2s ease;
	animation-delay: 160ms;
}

#stories .swiper-button-next,
#stories .swiper-button-prev {
	top: 0;
	right: 0;
	height: 100%;
}

#stories .swiper-button-prev {
	width: 0!important;
}

#stories .swiper-button-next {
	width: 30.5vw;
}

#stories .swiper-button-prev:before {
    left: 54.25vw;
}

#stories .swiper-button-next:before {
    left: -24.4vw;
}

#stories .swiper-button-prev:before,
#stories .swiper-button-next:before {
    position: relative;
	top: 6vw;
}

#stories .swiper-pagination-current {
    margin-right: -1rem;
    background: #1e252c; /* fix for swiper */
    padding: 0 .5rem;
    position: relative;
}

#stories .swiper-pagination-total:before {
    content: '';
    border-bottom: 1px solid white;
    width: 4vw;
    display: inline-block;
    margin-right: 1rem;
    position: relative;
    top: -5px;
}

#stories .swiper-pagination-fraction {
	width: 89vw;
}

@keyframes title-delay {
	20% {
		transform: translateX(25%);
	}
	94% {
		transform: translateX(0);
	}
}

@keyframes subtitle-delay {
	18% {
		transform: translateX(10%);
	}
	100% {
		transform: translateX(0);
	}
}
