#home .swiper-slide {
	height: 80vh;
}

#home .swiper-pagination-bullet-active {
	background: white !important;
}

#stories .title {
	left: 52.5vw;
	transform: translateY(26vw);
}

#stories .swiper-slide {
	transition: all 800ms ease;
	/* padding-top: 15%; */
	opacity: 0.35;
}

#stories .swiper-slide-active {
	transition: all 1200ms ease;
	padding: 0;
	opacity: 1;
}

#stories .swiper-slide-prev {
	transform: translateX(-60%);
	/* margin-right: 30%; */
}

#stories .swiper-slide-next {
	transform: translateX(30%);
	/* margin-left: 30%; */
}

.story-title {
	letter-spacing: 3px;
	margin-top: 1.5rem;
	margin-left: 4.25vw;
	transition: all 300ms ease;
}

#stories .swiper-slide-active .story-title {
	animation: title-delay 2.2s ease;
}

#stories .swiper-slide-active .story-title p {
	animation: subtitle-delay 2s ease;
	animation-delay: 160ms;
}

#stories .swiper-button-next {
	right: 0;
	width: 27.55vw;
	height: 100%;
	top: 0;
}

#stories .swiper-button-next::after {
	display: none;
}

@keyframes title-delay {
	20% {
		margin-left: 18%;
	}
	94% {
		margin-left: 6%;
	}
}

@keyframes subtitle-delay {
	18% {
		margin-left: 5%;
	}
	100% {
		margin-left: 0;
	}
}
